Fantasy_Football.json
{
  "name": "Fantasy Football",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -60,
        -100
      ],
      "id": "d0708e33-701c-44aa-ad80-ae5dd4071322",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        340,
        -60
      ],
      "id": "b871fc60-7c6f-4cb9-a798-539a12208dd4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fantasy_data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        -100
      ],
      "id": "9f0ac923-ec9a-49c9-9895-077908cc73cf",
      "name": "Webhook",
      "webhookId": "087d55b9-335f-493e-abde-126042e8996a"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -40,
        120
      ],
      "id": "c4885a6b-df1e-4454-b4a6-c1bf78a83d0f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JNU4nJKAftbZYJ9n",
          "name": "Personal Open AI"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        200,
        100
      ],
      "id": "382fd06c-9f14-4136-bc9b-2124dd8b0c58",
      "name": "Wikipedia"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52811313-7b92-4e30-801b-6f4027083937",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2d63becefd0990b73e244b9808e11ddff7e8f92d0712095c7583c5be4f3311f"
  },
  "id": "SWisVxJbjASSoju3",
  "tags": []
}